@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Ubuntu%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_default_styles {
  --mixin-TWNWUZKOXgIC_font-family: "Inter", sans-serif;
  --mixin-TWNWUZKOXgIC_font-size: 16px;
  --mixin-TWNWUZKOXgIC_font-weight: 400;
  --mixin-TWNWUZKOXgIC_font-style: normal;
  --mixin-TWNWUZKOXgIC_color: #535353;
  --mixin-TWNWUZKOXgIC_text-align: left;
  --mixin-TWNWUZKOXgIC_text-transform: none;
  --mixin-TWNWUZKOXgIC_line-height: 1.5;
  --mixin-TWNWUZKOXgIC_letter-spacing: normal;
  --mixin-TWNWUZKOXgIC_white-space: pre-wrap;
  --mixin-TWNWUZKOXgIC_user-select: text;
  --mixin-TWNWUZKOXgIC_text-decoration-line: none;
  --mixin-TWNWUZKOXgIC_text-overflow: clip;
  --mixin-ZVSG2w5_D4Zs_color: #000000;
  --mixin-ZVSG2w5_D4Zs_font-weight: 900;
  --mixin-ZVSG2w5_D4Zs_font-size: 72px;
  --mixin-ZVSG2w5_D4Zs_line-height: 1;
  --mixin-ZVSG2w5_D4Zs_letter-spacing: -4px;
  --mixin-ZVSG2w5_D4Zs_white-space: pre-wrap;
  --mixin-m2w52JPVi70B_color: #000000;
  --mixin-m2w52JPVi70B_font-size: 48px;
  --mixin-m2w52JPVi70B_font-weight: 700;
  --mixin-m2w52JPVi70B_letter-spacing: -1px;
  --mixin-m2w52JPVi70B_line-height: 1.1;
  --mixin-m2w52JPVi70B_white-space: pre-wrap;
  --mixin-uBjaeRtCzbpm_color: #0070f3;
  --mixin-uBjaeRtCzbpm_white-space: pre-wrap;
  --mixin-XJ8tIsL8zYKA_color: #000000;
  --mixin-XJ8tIsL8zYKA_font-size: 32px;
  --mixin-XJ8tIsL8zYKA_font-weight: 600;
  --mixin-XJ8tIsL8zYKA_letter-spacing: -0.8px;
  --mixin-XJ8tIsL8zYKA_line-height: 1.2;
  --mixin-XJ8tIsL8zYKA_white-space: pre-wrap;
  --mixin-RUdM3CsmoH1a_color: #000000;
  --mixin-RUdM3CsmoH1a_font-size: 24px;
  --mixin-RUdM3CsmoH1a_font-weight: 600;
  --mixin-RUdM3CsmoH1a_letter-spacing: -0.5px;
  --mixin-RUdM3CsmoH1a_line-height: 1.3;
  --mixin-RUdM3CsmoH1a_white-space: pre-wrap;
  --mixin-xOZUuVCAsIaZ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-xOZUuVCAsIaZ_border-bottom-color: #dddddd;
  --mixin-xOZUuVCAsIaZ_border-bottom-style: solid;
  --mixin-xOZUuVCAsIaZ_border-bottom-width: 1px;
  --mixin-xOZUuVCAsIaZ_border-left-color: #dddddd;
  --mixin-xOZUuVCAsIaZ_border-left-style: solid;
  --mixin-xOZUuVCAsIaZ_border-left-width: 1px;
  --mixin-xOZUuVCAsIaZ_border-right-color: #dddddd;
  --mixin-xOZUuVCAsIaZ_border-right-style: solid;
  --mixin-xOZUuVCAsIaZ_border-right-width: 1px;
  --mixin-xOZUuVCAsIaZ_border-top-color: #dddddd;
  --mixin-xOZUuVCAsIaZ_border-top-style: solid;
  --mixin-xOZUuVCAsIaZ_border-top-width: 1px;
  --mixin-xOZUuVCAsIaZ_border-bottom-left-radius: 3px;
  --mixin-xOZUuVCAsIaZ_border-bottom-right-radius: 3px;
  --mixin-xOZUuVCAsIaZ_border-top-left-radius: 3px;
  --mixin-xOZUuVCAsIaZ_border-top-right-radius: 3px;
  --mixin-xOZUuVCAsIaZ_font-family: "Inconsolata";
  --mixin-xOZUuVCAsIaZ_padding-bottom: 1px;
  --mixin-xOZUuVCAsIaZ_padding-left: 4px;
  --mixin-xOZUuVCAsIaZ_padding-right: 4px;
  --mixin-xOZUuVCAsIaZ_padding-top: 1px;
  --mixin-xOZUuVCAsIaZ_white-space: pre-wrap;
  --mixin-24nvpXY4TmIL_border-left-color: #dddddd;
  --mixin-24nvpXY4TmIL_border-left-style: solid;
  --mixin-24nvpXY4TmIL_border-left-width: 3px;
  --mixin-24nvpXY4TmIL_color: #888888;
  --mixin-24nvpXY4TmIL_padding-left: 10px;
  --mixin-24nvpXY4TmIL_white-space: pre-wrap;
  --mixin-10J0_Y74YNcF_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-10J0_Y74YNcF_border-bottom-color: #dddddd;
  --mixin-10J0_Y74YNcF_border-bottom-style: solid;
  --mixin-10J0_Y74YNcF_border-bottom-width: 1px;
  --mixin-10J0_Y74YNcF_border-left-color: #dddddd;
  --mixin-10J0_Y74YNcF_border-left-style: solid;
  --mixin-10J0_Y74YNcF_border-left-width: 1px;
  --mixin-10J0_Y74YNcF_border-right-color: #dddddd;
  --mixin-10J0_Y74YNcF_border-right-style: solid;
  --mixin-10J0_Y74YNcF_border-right-width: 1px;
  --mixin-10J0_Y74YNcF_border-top-color: #dddddd;
  --mixin-10J0_Y74YNcF_border-top-style: solid;
  --mixin-10J0_Y74YNcF_border-top-width: 1px;
  --mixin-10J0_Y74YNcF_border-bottom-left-radius: 3px;
  --mixin-10J0_Y74YNcF_border-bottom-right-radius: 3px;
  --mixin-10J0_Y74YNcF_border-top-left-radius: 3px;
  --mixin-10J0_Y74YNcF_border-top-right-radius: 3px;
  --mixin-10J0_Y74YNcF_font-family: "Inconsolata";
  --mixin-10J0_Y74YNcF_padding-bottom: 3px;
  --mixin-10J0_Y74YNcF_padding-left: 6px;
  --mixin-10J0_Y74YNcF_padding-right: 6px;
  --mixin-10J0_Y74YNcF_padding-top: 3px;
  --mixin-10J0_Y74YNcF_white-space: pre-wrap;
  --mixin-Ew4YpWNGYZcWx_display: flex;
  --mixin-Ew4YpWNGYZcWx_flex-direction: column;
  --mixin-Ew4YpWNGYZcWx_align-items: stretch;
  --mixin-Ew4YpWNGYZcWx_justify-content: flex-start;
  --mixin-Ew4YpWNGYZcWx_list-style-position: outside;
  --mixin-Ew4YpWNGYZcWx_padding-left: 40px;
  --mixin-Ew4YpWNGYZcWx_position: relative;
  --mixin-Ew4YpWNGYZcWx_list-style-type: disc;
  --mixin-Ew4YpWNGYZcWx_white-space: pre-wrap;
  --mixin-jKZVT0EEurGeD_display: flex;
  --mixin-jKZVT0EEurGeD_flex-direction: column;
  --mixin-jKZVT0EEurGeD_align-items: stretch;
  --mixin-jKZVT0EEurGeD_justify-content: flex-start;
  --mixin-jKZVT0EEurGeD_list-style-position: outside;
  --mixin-jKZVT0EEurGeD_padding-left: 40px;
  --mixin-jKZVT0EEurGeD_position: relative;
  --mixin-jKZVT0EEurGeD_list-style-type: decimal;
  --mixin-jKZVT0EEurGeD_white-space: pre-wrap;
  --mixin-SvVyp5qb8j673_color: #000000;
  --mixin-SvVyp5qb8j673_font-size: 20px;
  --mixin-SvVyp5qb8j673_font-weight: 600;
  --mixin-SvVyp5qb8j673_letter-spacing: -0.3px;
  --mixin-SvVyp5qb8j673_line-height: 1.5;
  --mixin-SvVyp5qb8j673_white-space: pre-wrap;
  --mixin-xN_3bBpfIDB1K_color: #000000;
  --mixin-xN_3bBpfIDB1K_font-size: 16px;
  --mixin-xN_3bBpfIDB1K_font-weight: 600;
  --mixin-xN_3bBpfIDB1K_line-height: 1.5;
  --mixin-xN_3bBpfIDB1K_white-space: pre-wrap;
  --mixin-MTT33zwsBQ8E7_color: #3291ff;
  --mixin-MTT33zwsBQ8E7_white-space: pre-wrap;
  --mixin-46dDjs1GnAoFo_white-space: pre-wrap;
  --mixin-meqA9Vp1nvEwD_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-TWNWUZKOXgIC_font-family);
  font-size: var(--mixin-TWNWUZKOXgIC_font-size);
  font-weight: var(--mixin-TWNWUZKOXgIC_font-weight);
  font-style: var(--mixin-TWNWUZKOXgIC_font-style);
  color: var(--mixin-TWNWUZKOXgIC_color);
  text-align: var(--mixin-TWNWUZKOXgIC_text-align);
  text-transform: var(--mixin-TWNWUZKOXgIC_text-transform);
  line-height: var(--mixin-TWNWUZKOXgIC_line-height);
  letter-spacing: var(--mixin-TWNWUZKOXgIC_letter-spacing);
  white-space: var(--mixin-TWNWUZKOXgIC_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-ZVSG2w5_D4Zs_color);
  font-weight: var(--mixin-ZVSG2w5_D4Zs_font-weight);
  font-size: var(--mixin-ZVSG2w5_D4Zs_font-size);
  line-height: var(--mixin-ZVSG2w5_D4Zs_line-height);
  letter-spacing: var(--mixin-ZVSG2w5_D4Zs_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-m2w52JPVi70B_color);
  font-size: var(--mixin-m2w52JPVi70B_font-size);
  font-weight: var(--mixin-m2w52JPVi70B_font-weight);
  letter-spacing: var(--mixin-m2w52JPVi70B_letter-spacing);
  line-height: var(--mixin-m2w52JPVi70B_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-uBjaeRtCzbpm_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-XJ8tIsL8zYKA_color);
  font-size: var(--mixin-XJ8tIsL8zYKA_font-size);
  font-weight: var(--mixin-XJ8tIsL8zYKA_font-weight);
  letter-spacing: var(--mixin-XJ8tIsL8zYKA_letter-spacing);
  line-height: var(--mixin-XJ8tIsL8zYKA_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-RUdM3CsmoH1a_color);
  font-size: var(--mixin-RUdM3CsmoH1a_font-size);
  font-weight: var(--mixin-RUdM3CsmoH1a_font-weight);
  letter-spacing: var(--mixin-RUdM3CsmoH1a_letter-spacing);
  line-height: var(--mixin-RUdM3CsmoH1a_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-xOZUuVCAsIaZ_font-family);
  border-radius: var(--mixin-xOZUuVCAsIaZ_border-top-left-radius)
    var(--mixin-xOZUuVCAsIaZ_border-top-right-radius)
    var(--mixin-xOZUuVCAsIaZ_border-bottom-right-radius)
    var(--mixin-xOZUuVCAsIaZ_border-bottom-left-radius);
  padding: var(--mixin-xOZUuVCAsIaZ_padding-top)
    var(--mixin-xOZUuVCAsIaZ_padding-right)
    var(--mixin-xOZUuVCAsIaZ_padding-bottom)
    var(--mixin-xOZUuVCAsIaZ_padding-left);
  border-top: var(--mixin-xOZUuVCAsIaZ_border-top-width)
    var(--mixin-xOZUuVCAsIaZ_border-top-style)
    var(--mixin-xOZUuVCAsIaZ_border-top-color);
  border-right: var(--mixin-xOZUuVCAsIaZ_border-right-width)
    var(--mixin-xOZUuVCAsIaZ_border-right-style)
    var(--mixin-xOZUuVCAsIaZ_border-right-color);
  border-bottom: var(--mixin-xOZUuVCAsIaZ_border-bottom-width)
    var(--mixin-xOZUuVCAsIaZ_border-bottom-style)
    var(--mixin-xOZUuVCAsIaZ_border-bottom-color);
  border-left: var(--mixin-xOZUuVCAsIaZ_border-left-width)
    var(--mixin-xOZUuVCAsIaZ_border-left-style)
    var(--mixin-xOZUuVCAsIaZ_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-24nvpXY4TmIL_color);
  padding-left: var(--mixin-24nvpXY4TmIL_padding-left);
  border-left: var(--mixin-24nvpXY4TmIL_border-left-width)
    var(--mixin-24nvpXY4TmIL_border-left-style)
    var(--mixin-24nvpXY4TmIL_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-10J0_Y74YNcF_font-family);
  border-radius: var(--mixin-10J0_Y74YNcF_border-top-left-radius)
    var(--mixin-10J0_Y74YNcF_border-top-right-radius)
    var(--mixin-10J0_Y74YNcF_border-bottom-right-radius)
    var(--mixin-10J0_Y74YNcF_border-bottom-left-radius);
  padding: var(--mixin-10J0_Y74YNcF_padding-top)
    var(--mixin-10J0_Y74YNcF_padding-right)
    var(--mixin-10J0_Y74YNcF_padding-bottom)
    var(--mixin-10J0_Y74YNcF_padding-left);
  border-top: var(--mixin-10J0_Y74YNcF_border-top-width)
    var(--mixin-10J0_Y74YNcF_border-top-style)
    var(--mixin-10J0_Y74YNcF_border-top-color);
  border-right: var(--mixin-10J0_Y74YNcF_border-right-width)
    var(--mixin-10J0_Y74YNcF_border-right-style)
    var(--mixin-10J0_Y74YNcF_border-right-color);
  border-bottom: var(--mixin-10J0_Y74YNcF_border-bottom-width)
    var(--mixin-10J0_Y74YNcF_border-bottom-style)
    var(--mixin-10J0_Y74YNcF_border-bottom-color);
  border-left: var(--mixin-10J0_Y74YNcF_border-left-width)
    var(--mixin-10J0_Y74YNcF_border-left-style)
    var(--mixin-10J0_Y74YNcF_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-Ew4YpWNGYZcWx_display);
  flex-direction: var(--mixin-Ew4YpWNGYZcWx_flex-direction);
  align-items: var(--mixin-Ew4YpWNGYZcWx_align-items);
  justify-content: var(--mixin-Ew4YpWNGYZcWx_justify-content);
  list-style-position: var(--mixin-Ew4YpWNGYZcWx_list-style-position);
  padding-left: var(--mixin-Ew4YpWNGYZcWx_padding-left);
  position: var(--mixin-Ew4YpWNGYZcWx_position);
  list-style-type: var(--mixin-Ew4YpWNGYZcWx_list-style-type);
  flex-column-gap: var(--mixin-Ew4YpWNGYZcWx_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-jKZVT0EEurGeD_display);
  flex-direction: var(--mixin-jKZVT0EEurGeD_flex-direction);
  align-items: var(--mixin-jKZVT0EEurGeD_align-items);
  justify-content: var(--mixin-jKZVT0EEurGeD_justify-content);
  list-style-position: var(--mixin-jKZVT0EEurGeD_list-style-position);
  padding-left: var(--mixin-jKZVT0EEurGeD_padding-left);
  position: var(--mixin-jKZVT0EEurGeD_position);
  list-style-type: var(--mixin-jKZVT0EEurGeD_list-style-type);
  flex-column-gap: var(--mixin-jKZVT0EEurGeD_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-SvVyp5qb8j673_color);
  font-size: var(--mixin-SvVyp5qb8j673_font-size);
  font-weight: var(--mixin-SvVyp5qb8j673_font-weight);
  letter-spacing: var(--mixin-SvVyp5qb8j673_letter-spacing);
  line-height: var(--mixin-SvVyp5qb8j673_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-xN_3bBpfIDB1K_color);
  font-size: var(--mixin-xN_3bBpfIDB1K_font-size);
  font-weight: var(--mixin-xN_3bBpfIDB1K_font-weight);
  line-height: var(--mixin-xN_3bBpfIDB1K_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-MTT33zwsBQ8E7_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
